<%- include('header') -%>
<%- include('navbar') -%>

<div class="container">
    <div class="row">
        <div class="col-2 text-left">
            <div class="title">Heroes and Agencies</div>
        </div>
    </div>
</div>

<%- include('footer') -%>